
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #ffffff, #f5f5f7);
}

/* .parallax {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.15;
} */

.parallax {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
  pointer-events: none;
}

.video-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 25%,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(255, 255, 255, 1) 100%
  );

  pointer-events: none;
}